body{
    background: rgb(17, 2, 31);
    color: white;
    margin-top: 70px;
}

.navbar{
    background: teal !important;
}

.fa{
    margin-right: 5px;
    font-size: 20px;
}

.active{
    color: white !important;
    border-bottom: 2px solid white ;
    
}


