html{
    scroll-behavior: smooth; 
}
body{
    background: rgb(17, 2, 31);
    color: white;
    margin-top: 70px;
}

.navbar{
    background: teal !important;
}

.fa{
    margin-right: 5px;
    font-size: 20px;
}

.active{
    color: white !important;
    border-bottom: 2px solid white ;
    
}

.nav-item :hover{
    color: yellowgreen !important;
}

.item-bg{
    background: rgba(45, 52, 54,0.7);
    padding: 2rem;
    border-radius: 2%;    
}

.display-3{
    font-family: 'Courier New', Courier, monospace;
}

.item_img{
    max-width: 100%;
    height: auto; 

}

.container_personal{
    margin: 1rem 5rem 1rem 5rem;
    position: absolute;
}

.img_profile{
   max-width:20rem ; 
   height: 20rem;
   display: block;
   position: relative;
}
.profile_down{
    position: relative;
    display: inline;
    font-size: 20px;
}
.profile_header{
    margin-left: 60%;
    position: relative;
}  

.short_sum{
    font-weight: lighter;
    font-size: 25px;
}

